node_modules
node_modules/
**/node_modules
**/node_modules/
dist
dist/
**/dist
**/dist/
.git
.git/
**/.git
**/.git/
*.log
**/*.log
Dockerfile
api/
crm-demo/
xelite-crm/
data/
**/api/
**/crm-demo/
**/xelite-crm/
**/data/
